<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>
    <%- include('partials/header') %>
        <main>
            <a href="/ganado"
                class="flex text-white px-5 text-2xl bg-azulOscuro rounded-lg absolute mt-[5rem] ml-[1rem] md:mt-[8rem] md:ml-[10rem]">⬅</a>
            <h1>asd</h1>
        </main>
        <%- include('partials/footer') %>
</body>

</html>