<!DOCTYPE html>
<html lang="es_ES">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet" type="text/css">
    <title>Comprar Ganado</title>
</head>

<body>

    <%- include('partials/header') %>
        <main>
            <div id="cartasContainer"
                class="grid grid-cols-2 gap-1 mx-[0.5rem] sm:grid-cols-4 md:grid-cols-5 sm:gap-2 my-[4.5rem] sm:mx-[2rem]">
                <div class="carta bg-white md:h-38 lg:h-auto bovino">
                    <a href="#">
                        <img class="h-30 w-full md:h-30 lg:h-43" src="/assets/vacaBackground.jpg" alt="">
                        <h2 class=" text-center font-jost text-xl font-bold">
                            Nombre vaca
                        </h2>
                        <div class="pb-2 flex flex-col pl-1 sm:pl-5 items-start">
                            <p class=" font-jost">
                                Sexo: Hembra
                            </p>
                            <p class=" font-jost">
                                Raza: Holstein
                            </p>
                            <p>
                                Peso: 400 kg
                            </p>
                            <p class="font-jost">
                                Precio total: 10000 Bs.
                            </p>
                        </div>
                    </a>
                </div>



                <div class="carta bg-white md:h-38 lg:h-auto bovino">
                    <a href="#">
                        <img class="h-25 w-full md:h-30 lg:h-43" src="/assets/vacaBackground.jpg" alt="">
                        <h2 class="text-center font-jost text-xl font-bold">
                            Nombre vaca
                        </h2>
                        <div class="pb-2 flex flex-col pl-5 items-start">
                            <p class="text-center font-jost">
                                Sexo: Hembra
                            </p>
                            <p class="text-center font-jost">
                                Raza: Holstein
                            </p>
                            <p>
                                Peso: 400 kg
                            </p>
                            <p class="text-center font-jost">
                                Precio total: 10000 Bs.
                            </p>
                        </div>
                    </a>
                </div>





                <div class="carta bg-white md:h-38 lg:h-auto bovino">
                    <a href="#">
                        <img class="h-25 w-full md:h-30 lg:h-43" src="/assets/vacaBackground.jpg" alt="">
                        <h2 class="text-center font-jost text-xl font-bold">
                            Nombre vaca
                        </h2>
                        <div class="pb-2 flex flex-col pl-5 items-start">
                            <p class="text-center font-jost">
                                Sexo: Hembra
                            </p>
                            <p class="text-center font-jost">
                                Raza: Holstein
                            </p>
                            <p>
                                Peso: 400 kg
                            </p>
                            <p class="text-center font-jost">
                                Precio total: 10000 Bs.
                            </p>
                        </div>
                    </a>
                </div>





                <div class="carta bg-white md:h-38 lg:h-auto bovino">
                    <a href="#">
                        <img class="h-25 w-full md:h-30 lg:h-43" src="/assets/vacaBackground.jpg" alt="">
                        <h2 class="text-center font-jost text-xl font-bold">
                            Nombre vaca
                        </h2>
                        <div class="pb-2 flex flex-col pl-5 items-start">
                            <p class="text-center font-jost">
                                Sexo: Hembra
                            </p>
                            <p class="text-center font-jost">
                                Raza: Holstein
                            </p>
                            <p>
                                Peso: 400 kg
                            </p>
                            <p class="text-center font-jost">
                                Precio total: 10000 Bs.
                            </p>
                        </div>
                    </a>
                </div>





                <div class="carta bg-white md:h-38 lg:h-auto bovino">
                    <a href="#">
                        <img class="h-25 w-full md:h-30 lg:h-43" src="/assets/vacaBackground.jpg" alt="">
                        <h2 class="text-center font-jost text-xl font-bold">
                            Nombre vaca
                        </h2>
                        <div class="pb-2 flex flex-col pl-5 items-start">
                            <p class="text-center font-jost">
                                Sexo: Hembra
                            </p>
                            <p class="text-center font-jost">
                                Raza: Holstein
                            </p>
                            <p>
                                Peso: 400 kg
                            </p>
                            <p class="text-center font-jost">
                                Precio total: 10000 Bs.
                            </p>
                        </div>
                    </a>
                </div>



                <div class="carta bg-white md:h-38 lg:h-auto bovino">
                    <a href="#">
                        <img class="h-25 w-full md:h-30 lg:h-43" src="/assets/vacaBackground.jpg" alt="">
                        <h2 class="text-center font-jost text-xl font-bold">
                            Nombre vaca
                        </h2>
                        <div class="pb-2 flex flex-col pl-5 items-start">
                            <p class="text-center font-jost">
                                Sexo: Hembra
                            </p>
                            <p class="text-center font-jost">
                                Raza: Holstein
                            </p>
                            <p>
                                Peso: 400 kg
                            </p>
                            <p class="text-center font-jost">
                                Precio total: 10000 Bs.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </main>
        <%- include('partials/footer') %>
</body>

<script>

</script>

</html>